* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    height: 200px;
    width: 200px;
}

.chunk {
    display: flex;
    flex-direction: column;
    padding: 25px 150px 25px 150px;
}

.herotext {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 12px;
}

.header {
    background-color: #1F2937;
}

.hContent {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.cosmos {
    height: 150px;
    width: 350px;
}

.hText,
.cosmos {
    flex: 1;
}

.hIntro {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hBody {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 5px;
    border-radius: 8px;
}

.hBody,
.hIntro {
    margin-bottom: 15px;
}

.body {
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.imgparagraphs {
    display: block;
    width: 200px;
}

.information {
    margin-bottom: 40px;
}

.quote {
    background-color: #E5E7EB;
}

.quotetext {
    color: #1F2937;
    font-size: 36px;
}

.Thor {
    display: flex;
    justify-content: flex-end;
}

.footcontent {
    display: flex;
    background-color: #3882F6;
    height: 150px;
    width: 600px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 8px;
}

.footer {
    display: flex;
    align-items: center;
}

.signup.footer {
    border: 2px solid white;
    width: 75px;
    justify-content: center;
}