* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    background-color: red;
}

img {
    height: 300px;
    width: 300px;
}

.chunk {
    display: flex;
    flex-direction: column;
}

.herotext {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: grey;
}

.header {
    background-color: #1F2937;
}

.hContent {
    display: flex;
    justify-content: space-between;
}

.cosmos {
    height: 150px;
    width: 350px;
}

.hContent,
.herotext {
    margin-left: 150px;
    margin-right: 150px;
}